[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autoflake = "*"
PyYAML = "*"
types-PyYAML = "*"
panther_sdk = ">=0.0.19"

[dev-packages]
twine = ">=4.0.1"
black = "==22.8.0"
mypy = ">=0.0.0"

[requires]
python_version = "3.9"
